body {
    background:linear-gradient(to right , #4c4c4c , #000000);
}

/*header{
    width: 30%;
    height: 23vh;
    background: linear-gradient(to left , #f3593e , #ed2c0a);
}*/

.logo{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 4%;
    top: 3%;
    box-shadow:  0.2em 0.2em 0.3em black;
    border-radius: 50%;
}

.header h1{
    color: white;
    font-size: 38px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 13.3%;
    top: 3%;
    text-shadow: 0.2em 0.2em 0.3em black;
}

.header h2{
    color: white;
    font-size: 18px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 17%;
    top: 10%;
    text-shadow: 0.2em 0.2em 0.3em black;
}

.header h3{
    color: white;
    font-size: 16px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 35%;
    top: 9.4%;
}

.bg{
    width: 35%;
    height: 100vh;
    background-color: whitesmoke;
    position: absolute;
    background-position: center center;
    left: 0%;
    right: 100%;
    top: 0%;
    border-radius: 20px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}


main h1 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 130px;
}

main h2{
    color: white;
    font-size: 24px;
    font-family: "JasmineUPC";
    text-align: center;
    position: relative;
    top: -80px;
}

form{
    position: absolute;
    left: 42%;
    top: 55%;
}

form label input{
    font-size: 24px;
    border-radius: 8px;
    width: 330px;
    height: 35px;
    padding: 5px 10px;
    border: none;
}

form #p1 {
    position:relative;
    top:-13px;
    left: -12%;
    color: red;

}

form #p2 {
    position:relative;
    top:17px;
    left: -12%;
    color: red;
}

.name{
    position: absolute;
    text-align: left;
    top:-120px;
    left: -15%;
    font-family: "JasmineUPC";
    
}

.date{
    position: absolute;
    top:-20px;
    left: -15%;
    font-family: "JasmineUPC";
}

.id{
    position: absolute;
    top:80px;
    left: -15%;
    font-family: "JasmineUPC";
}

.pid{
    position: absolute;
    top:180px;
    left: -15%;
    font-family: "JasmineUPC";
}

.phone{
    position: absolute;
    top:280px;
    left: -15%;
    font-family: "JasmineUPC";
}

form button{
    position: absolute;
    left: -1%;
    top: 380px;
    border-radius: 60px;
    padding: 10px 100px;
    background: orangered;
    border: 0px;
    font-family: "JasmineUPC";
    font-weight: bold;
    font-size: 34px;

}