body {
    background:linear-gradient(to right , #4c4c4c , #000000);
}

.logo{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 4%;
    top: 3%;
    box-shadow:  0.2em 0.2em 0.3em black;
    border-radius: 50%;
}

.header h1{
    color: white;
    font-size: 38px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 13.3%;
    top: 3%;
    text-shadow: 0.2em 0.2em 0.3em black;
}

.header h2{
    color: white;
    font-size: 18px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 17%;
    top: 10%;
    text-shadow: 0.2em 0.2em 0.3em black;
}

.header h3{
    color: white;
    font-size: 16px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 35%;
    top: 9.4%;
}

.bg{
    width: 35%;
    height: 96vh;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 20px;
    /*opacity: 0.6;
    filter: alpha(opacity=60);*/
    left: 30%;
}


.bg h1 {
    color: #000000;
    text-align: center;
    position: relative;
}

.bg h2{
    color: #000000;
    font-size: 24px;
    font-family: "JasmineUPC";
    text-align: center;
    position: relative;
}

form{
    position: absolute;
}

form input{
    font-size: 24px;
    border-radius: 8px;
    width: 330px;
    height: 35px;
    padding: 5px 10px;
    border: none;
    left: 35%;
}

form #p1 {
    color: red;
    top: 110px;
    left: 100px;
    position: relative;
}

form #p2 {
    color: red;
    top: 180px;
    left: 100px;
    position: relative;
}

.name{
    position: absolute;
    text-align: left;
    font-family: "JasmineUPC";
    top: 50px;
}

.id{
    position: absolute;
    font-family: "JasmineUPC";
    top: 150px;
}

.pid{
    position: absolute;
    font-family: "JasmineUPC";
    top: 250px;
}

.phone{
    position: absolute;
    font-family: "JasmineUPC";
    top: 350px;
}

form button{
    position: absolute;
    left: 45%;
    top: 450px;
    border-radius: 60px;
    padding: 10px 100px;
    background: orangered;
    border: 0px;
    font-family: "JasmineUPC";
    font-weight: bold;
    font-size: 34px;
}